.flex_us {
  display: flex;
  justify-content: center;
}
.tasks_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 70px;
}

.tasks_caption {
  margin: 0;
  color: #9d9d9d;
  font-size: 13px;
}

.tasks_write_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  padding-bottom: 1em;
  border-width: 1px;
  border-color: #d9d9d9;
}

.link_btn {
  padding: 0.5em 1em;
  background: #54bc7e;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 4px 10px #9cd6b3;
}
.link_btn:hover {
  background: #3da567;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 4px 10px #9cd6b3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 28px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #54bc7e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #54bc7e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.note_area {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  color: grey;
  align-items: center;
  justify-content: space-between;
}
