.footer_blur {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_txts {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

section.footer_section {
  padding: 1em 0em;
}

@media screen and (max-width: 767px) {
  .footer_txts {
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}
