.join_now_btn {
  padding: 1em 4em;
  border-radius: 10px;
  border: none;
  background: #54bc7e;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;

  box-shadow: 0px 20px 50px #86bf9d;
  transition: 0.3s linear;
}
.join_now_btn3 {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  background: #54bc7e;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;

  box-shadow: 0px 20px 50px #86bf9d;
  transition: 0.3s linear;
}
.join_now_btn2 {
  padding: 1em 3em;
  border-radius: 10px;
  border: solid;
  background: #fff;
  border-width: 1px;
  border-color: #54bc7e;
  color: #54bc7e;
  font-weight: 600;
  font-size: 16px;

  /* box-shadow: 0px 20px 50px #86bf9d; */
  transition: 0.3s linear;
}
.join_now_btn2:hover {
  padding: 1em 3em;
  border-radius: 20px;
  border-color: #e4a788;
  background: #e4a788;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;

  box-shadow: 0px 20px 50px #be9f90;
  transition: 0.3s linear;
}
.join_now_btn:hover {
  padding: 1em 4em;
  border-radius: 20px;
  border: none;
  background: #e4a788;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;

  box-shadow: 0px 20px 50px #be9f90;
  transition: 0.3s linear;
}
.join_now_btn3:hover {
  padding: 1em 2em;
  border-radius: 20px;
  border: none;
  background: #e4a788;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;

  box-shadow: 0px 20px 50px #be9f90;
  transition: 0.3s linear;
}
/* ========== */
/* ========== */
/* ========== */
/* ========== */
/* ========== */
@media screen and (max-width: 1024px) {
  .join_now_btn {
    padding: 0.5em 3em;
    border-radius: 10px;
    border: none;
    background: #54bc7e;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0px 20px 50px #86bf9d;
    transition: 0.3s linear;
  }
  .join_now_btn3 {
    padding: 0.5em 3em;
    border-radius: 10px;
    border: none;
    background: #54bc7e;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0px 20px 50px #86bf9d;
    transition: 0.3s linear;
  }
  .join_now_btn2 {
    padding: 0.5em 3em;
  }
  .join_now_btn:hover {
    padding: 0.5em 3em;
  }
  .join_now_btn3:hover {
    padding: 0.5em 3em;
  }
  .join_now_btn2:hover {
    padding: 0.5em 3em;
  }
}

@media screen and (max-width: 665px) {
  .jb1 {
    padding: 0.5em 2em;
    font-size: 12px;
  }
  .jb1a {
    padding: 0.5em 1em;
    font-size: 12px;
  }
  .double_arrow {
    font-size: 14px !important;
  }

  .jb2 {
    padding: 0.3em 1.5em;
    font-size: 12px;
  }
  .jb1:hover {
    padding: 0.5em 2em;
    font-size: 12px;
  }
  .jb1a :hover {
    padding: 0.5em 1em;
    font-size: 12px;
  }
  .double_arrow {
    font-size: 14px !important;
  }

  .jb2:hover {
    padding: 0.3em 1.5em;
    font-size: 12px;
  }
}
