* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  box-sizing: border-box;
}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth !important;
  transition: 2s ease-in;
}
body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mulish";
}

::selection {
  background-color: #4fcb81;
  color: #fff;
}
